<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"> </script>
    <title>Pet Store App</title>
</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"> </h1>

            <button v-on:click="showCheckout">
                {{ itemsInTheCart }}
                <span class="fas fa-cart-plus">
                    Checkout
            </button>
        </header>
        <main>
            <div v-if="showProduct">
        
                <figure>

                    <img v-bind:src="product.image" alt="This is pet store" width="200" height="200">

                </figure>


                <h1 v-text="product.title"> </h1>
                <p v-text="product.description"> </p>
                <p> Price: {{product.price}}</p>


                <button v-if="canAddTotheCart" v-on:click="addItemToCart"> Add to the Cart </button>
                <div v-else>
                    <button disabled> Add to the Cart </button> You have added all the available items in your cart
                </div>

            </div>
            <div v-else>
               <h1> Welcome to the Checkout page  </h1> 
            </div>
            


        </main>
    </div>


        <script>
            let webstore = new Vue({
                el: "#app",
                data: {
                    sitename: "This is my Pet Store 5",
                    showProduct: true, 

                    product: {
                        id: 1001,
                        title: "Cat food, 30lb bag",
                        description: "An organic goodnesss for your cat",
                        price: 2000,
                        image: "Store Picture.jpg",
                        availableInventory: 7
                    },
                    cart: []
                },
                methods: {
                    showCheckout: function() {
                        this.showProduct = this.showProduct ? false : true;
                    },

                    addItemToCart: function () {
                        this.cart.push(this.product.id);
                    }
                },
                computed: {
                    itemsInTheCart: function () {
                        return this.cart.length || "";
                    },
                    canAddTotheCart: function () {
                        return this.product.availableInventory > this.itemsInTheCart;
                    }
                }

            })
        </script>
</body>

</html>
